/**
 * Reset CSS
 */
 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

/**
 * Variables
 */
:root {
    --green: #74a25f;
    --green-light: #add4a7;

    --red: #a83c35;
    --red-light: #f9d6d5;

    --orange: #db851a;
    --orange-light: #f1dbc7;

    --black: #000000;
    --gray: #909090;
    --gray-light: #d3dbdf;
    --white: #ffffff;

    --bg: #203634;
}

/**
 * General
 */
* {
    box-sizing: border-box;
}


body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    background: var(--bg);
    color: var(--white);
}

h1 {
    color: var(--red);
    font-weight: bold;
    font-size: 3rem;
}
h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--red);
}

p, div {
    margin-bottom: 1rem;
}
#messages_new, #messages_spools, #messages_charts {
    margin-bottom: 0;
}

a {
    color: var(--green);
}

ul {
    list-style-type: square;
    padding-left: 2rem;
}

div.flex {
    display: flex;
}
div.vertical {
    flex-direction: column;
}
div.horizontal {
    flex-direction: row;
}

div.flex > div {
    margin-left: 2rem;
    margin-right: 2rem;
}
div.flex > div:first-child {
    margin-left: 0;
}
div.flex > div:last-child {
    margin-right: 0;
}

div.flex > .grow {
    flex: 1;
}

.red {
    color: var(--red);
}
.orange {
    color: var(--orange);
}

.w100 {
    width: 100%;
}
a.small {
    font-size: .8em;
}

/**
 * Homepage
 */

div#add {
    border: 1px solid var(--green);
    padding: 1rem;
}

div#history {

}

div#charts {

}

/**
 * Tables
 */

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: .5rem 1rem;
    text-align: center;
}

table th {
    font-weight: bold;
    border-bottom: .1rem solid var(--green);
}

table td {
    border-bottom: .05rem solid var(--green-light);
}
table tr:last-child td {
    border-bottom: none;
}

/**
 * Forms
 */

label, input, select, span.append, span.prepend {
    vertical-align: middle;
    padding: .5rem;
    margin: 0;
}

input, select {
    background-color: var(--bg);
    border: .1rem solid var(--green);
    color: var(--green-light);
}

input[type="text"], input[type="datetime"], select {
    width: 13rem;
}
input[type="number"], select.small {
    width: 5rem;
}
select.medium {
    width: 8rem;
}
select.xsmall {
    width: 4rem;
}

div.field, div.submit {
    margin-bottom: 1rem;
}
div.field label {
    display: inline-block;
    text-align: right;
    width: 8rem;
    margin-right: 1rem;
}

div.submit {
    padding-left: 9rem;
}

/**
 * Buttons
 */

button {
    vertical-align: middle;
    padding: .5rem;
    font-weight: bold;
    border: .1rem solid;
    /*border-radius: .3rem;*/
    cursor: pointer;
}
/*
button:hover {
    border-style: outset;
}
*/
button:active {
    /*
    border-style: inset;
    */
    padding: .4rem;
    border-width: 0.2rem;
}

button.green {
    border-color: var(--green);
    background-color: var(--green);
}
button.green:hover {
    border-color: var(--green-light);
}

/**
 * Messages
 */

 .error, .success, .warning {
     margin-bottom: 1rem;
     padding: 0.5rem 1rem;

     border-width: 0.1rem;
     border-style: solid;
     border-left-width: 0.4rem;
 }
 .error p:last-child, .success p:last-child, .warning p:last-child {
     margin-bottom: 0;
 }

 .error {
     /*background: var(--red-light);*/
     color: var(--red);
     border-color: var(--red);
 }
 .success {
     /*background: var(--green-light);*/
     color: var(--green);
     border-color: var(--green);
 }
 .warning {
     /*background: var(--orange-light);*/
     color: var(--orange);
     border-color: var(--orange);
 }


/**
 * Charts
 */

/*
.chart-container {
    position: relative;
    margin: auto;
    width: 50vw;
    height: 50vh;
}*/

#charts canvas {
    width: 100%;
    max-width: 100%;
    max-height: 50vh;
}
